{% extends 'base.html' %} {% block content %}

{% load static %}


<div class="container px-5">
    <h1 style="text-align: center;">{{ post.title }}</h1><br/>

    {% if post.feature_image %}
        <img class="img-fluid" src="{{post.feature_image.url}}" alt="{{post.title}}" style="height: 500px; width: 100%;">
    {% else %}
        <img src="{% static 'images/default_blog_pic.jpg' %}" class="img-fluid" alt="{{post.title}}">
    {% endif %}
    <br/>
    <small>
        Tags: {{ post.post_tags }} - {{ post.created_at | date:"D d M Y" }} 
        {% if user.is_authenticated %}
            <a href="{% url 'update_blog' post.pk %}">Edit</a>&nbsp;
            <a href="{% url 'delete_blog' post.pk %}">Delete</a>
        {% endif %}
    </small><br/>
    <hr>

    {{ post.content |safe }}
</div>

{% endblock content %}





    <!-- {% block sidebar %} {% include 'sidebar.html' %} {% endblock sidebar %} -->