{% extends "base.html" %}

{% block title %} Register {% endblock %}


{% block content%}
<div class="container px-5">
    <h1 style="color: black;">Register</h1>
    <br/><br/>
    <div class="form-group">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-dark" type="submit">Register</button>
        </form><br/><br/>
        <small>Already have an account??</small>
        <a href="{% url 'login' %}">
            <button class="btn btn-dark" type="submit">Login</button>
        </a>
    </div>
</div>


{% endblock %}