{% extends "base.html" %} 
{% load static %}
{% block content %}
<style>
    body {
        font-family: kode mono;
        font-size: 18px;
        background-color: #fdfdfd;
    }
    
    .blogtitle:hover {
        text-decoration: underline;
    }

    .blogtitle a {
        font-size: 16px; /* Reduce font size of blog title */
        font-weight: bold; /* Keep it bold */
    }

    /* Custom CSS */
    @media (max-width: 767px) {
        .blogtitle-details {
            display: none;
        }

        .col-mobile {
            flex-basis: 50%;
            max-width: 50%;
            padding: 0;
        }

        .col-mobile:not(:last-child) {
            margin-bottom: 15px; /* Add margin between columns on small devices */
        }
    }

    @media (min-width: 768px) {
        .blogtitle-details {
            margin-top: 10px; /* Add some space between blogtitle and blogtitle-details */
        }

        .col-md-9,
        .col-md-3 {
            padding-left: 15px;
            padding-right: 15px;
        }

        .main-text {
            margin-bottom: 15px; /* Add margin between main-text and main-img on medium and large devices */
        }
    }
</style>

<section class="px-3">
    <div class="container pb-5">
        <ul class="list-unstyled">
            {% for post in post_list %}
            <li>
                <div class="row g-4 mt-2">
                    <div class="main-text col-md-9 col-sm-12 col-xs-12 col-mobile bg-light p-3"> <!-- Modified column class -->
                        <div class="blogtitle">
                            <a class="text-decoration-none fw-bold" href="{% url 'post_detail' post.slug %}" style="color:black;"> {{ post.title }} </a> - {{ post.created_at | date:"D d M Y" }}<br/>
                        </div>
                        <div class="blogtitle-details"> <!-- Ensure other details are shown below title -->
                            <small>Tags: {{ post.post_tags }}</small> <br/>
                            {{ post.content | safe | slice:":200"}}...<br/>
                            <a href="{% url 'post_detail' post.slug %}" style="color: black;">
                                <small>read more</small>
                            </a>
                        </div>
                    </div>
                    <div class="main-img col-md-3 col-sm-12 col-xs-12 col-mobile"> <!-- Modified column class -->
                        {% if post.feature_image %}
                        <img src="{{post.feature_image.url}}" class="img-fluid rounded" alt="{{post.title}}">
                        {% else %}
                        <img src="{% static 'images/default_blog_pic.jpg' %}" class="img-fluid rounded" alt="{{post.title}}">
                        {% endif %}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>
<br/><br/>
{% endblock %}
