{% extends 'base.html' %} 
{% block content %}

{% load static %}

<div class="container px-5" style="margin-top: 100px;">
    <h1 style="text-align: center;">{{ post.title }}</h1><br/>
    {% if post.feature_image %}
        <img class="img-fluid" src="{{post.feature_image.url}}" alt="{{post.title}}" style="height: 500px; width: 100%;">
    {% else %}
        <img src="{% static 'images/default_blog_pic.jpg' %}" class="img-fluid" alt="{{post.title}}">
    {% endif %}
    <div class="d-flex align-items-center mt-4 flex-wrap" style="font-size: 14px">
        <span class="pr-1 fw-bold">Tags:</span>
        <span class="badge rounded-pill bg-dark">{{ post.post_tags }}</span>
        <span class="pr-2">- {{ post.created_at | date:"D d M Y" }} - {{ extra_key }}</span>
        <span>
            {% if user.is_authenticated %}
                <a href="{% url 'update_blog' post.pk %}">Edit</a> | 
                <a href="{% url 'delete_blog' post.pk %}">Delete</a>
            {% endif %}
        </span>
    </div> 
    <hr>

    {{ post.content | safe }}
</div>
<hr><br><br>
{% endblock content %}
