{% extends 'base.html' %} 
{% block content %}

{% load static %}

<div class="container px-5" style="margin-top: 100px;">
    <h1 style="text-align: center;">{{ post.title }}</h1><br/>
    {% if post.feature_image %}
        <img class="img-fluid" src="{{post.feature_image.url}}" alt="{{post.title}}" style="height: 500px; width: 100%;">
    {% else %}
        <img src="{% static 'images/default_blog_pic.jpg' %}" class="img-fluid" alt="{{post.title}}">
    {% endif %}

    <div class="d-flex align-items-center mt-4 flex-wrap" style="font-size: 14px">
        <span class="pr-1 fw-bold">Tags:</span>
        <span class="badge rounded-pill bg-dark">{{ post.post_tags }}</span>
        <span class="pr-2">- {{ post.created_at | date:"D d M Y" }} - {{ extra_key }}</span>
        <span>
            {% if user.is_authenticated %}
                <a href="{% url 'update_blog' post.pk %}">Edit</a> | 
                <a href="{% url 'delete_blog' post.pk %}">Delete</a>
            {% endif %}
        </span>
        
        <div class="form-check form-switch ml-auto">
            <label class="form-check-label" for="flexSwitchCheckChecked"><b>Bio</b>nic <b>read</b>ing</label>  
            <input class="form-check-input ml-2" type="checkbox" id="flexSwitchCheckChecked">
        </div>
    </div>
    <hr>

    <!-- The ID to target the content for dynamic replacement -->
    <div id="post-content">
        {{ post.content | safe }}
    </div>
</div>
<hr><br><br>


<script>
    // Store the original post content in a variable to restore it later
    var originalContent = document.getElementById('post-content').innerHTML;

    // Event listener for the checkbox toggle
    document.getElementById('flexSwitchCheckChecked').addEventListener('change', function() {
    var isChecked = this.checked;
    var currentUrl = window.location.href;

    fetch("{% url 'bionic' %}", {
        method: "POST",
        headers: {
            "Content-Type": "application/json",
            "X-CSRFToken": "{{ csrf_token }}"  
        },
        body: JSON.stringify({ 
            isChecked: isChecked,
            currentUrl: currentUrl
        })
    })
    .then(response => {
        if (!response.ok) {
            throw new Error('Network response was not ok');
        }
        return response.json(); // Make sure response is converted to JSON
    })
    .then(data => {
        if (isChecked) {
            // If checked, replace content with the modified (bionic) version
            if (data.modified_html !== null) {
                document.getElementById('post-content').innerHTML = data.modified_html;
            }
        } else {
            // If unchecked, restore the original content
            document.getElementById('post-content').innerHTML = originalContent;
        }
    })
    .catch(error => {
        console.error('Error:', error); // Handle and log errors in a more friendly way
    });
});
</script>

{% endblock content %}
